
navbar,header,footer,h1,h2,h3,h4,h5,h6,p,span,table,td,tr,th,a{
      font-family : 'Ubuntu' !important;
}
tr td{
    font-weight:normal;
}

.result-card{
    background: #333;
    color: aliceblue;
}
pre{
    color: #ffffff !important;
}
.report_body{
    font-family: 'Ubuntu', sans-serif !important;
    display: block;
    font-family: Consolas, Lucida Console, monospace;
    font-size: 14px;
    padding-left: 5px;
    width: 100%;
    line-height:2;
}
